
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #313131;
    color: #fff;
    font-family: Arial, sans-serif;
    /* overflow: hidden; */
}
#d3-visualization {
    min-height: 100vh; /* Use min-height instead of height */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Other styles for node, link, etc. */


.node {
    cursor: pointer;
}

.node circle {
    fill: #343232;
    stroke: #0ca90c;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
    fill: #fff;
}

.link {
    fill: none; 
    stroke: #4708f5;
    stroke-width: 1px;
}

